<!DOCTYPE html>
<html
    lang="fr"
    itemscope="itemscope"
    itemtype="http://schema.org/WebApplication"    
    manifest="cache.manifest"
    ng-app="consommation">
    <head>
        <meta charset="utf-8" />
        
        <!-- Page -->
        <title>Consommation E-Liquide</title>        
        <meta itemprop="keywords" name="keywords" content="vap, vape, vapez, e-cigarette, e-liquide, consommation" />
        <meta itemprop="description" name="description" content="Calculez combien de e-liquide il faut consommer en fonction du nombre de cigarettes fumées auparavant." />

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="cleartype" content="on" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-touch-fullscreen" content="yes" />
        
        <!-- Keep reference to Domain -->
        <link rel="canonical" href="http://vapez.fr/tools/consommation/"/>

        <!-- Icon
        <link rel="apple-touch-icon" href="content/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="content/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="content/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="content/img/apple-touch-icon-152x152.png" />
         -->
        
        <!-- SNS -->
        <link rel="author" href="https://plus.google.com/+VapezFr"/>
        <link rel="publisher" href="https://plus.google.com/+VapezFr"/>

        <meta property="og:type" content="website" />
        <meta property="og:title" content="Vapez.FR, Consommation E-Liquide" />
        <meta property="og:description" content="Calculez combien de e-liquide il faut consommer en fonction du nombre de cigarettes fumées auparavant." />
        <!--<meta property="og:image" content="http://vapez.fr/apple-touch-icon-114x114.png" />-->
        <meta property="og:url" content="http://vapez.fr/tools/consommation/" />

        <meta property="og:site_name" content="Vapez.FR" />
        <meta property="og:locale" content="fr" />
        <meta property="fb:app_id" content="194169377448891" />
        <meta property="fb:admins" content="1215975394" />
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Vapez.FR, Consommation E-Liquide" />
        <meta name="twitter:description" content="Calculez combien de e-liquide il faut consommer en fonction du nombre de cigarettes fumées auparavant." />
        <!--<meta name="twitter:image" content="http://vapez.fr/apple-touch-icon-114x114.png" />-->
        <meta name="twitter:url" content="http://vapez.fr/tools/consommation/" />                    
        
        <!-- Style -->
        <link href="../content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="content/css/app.css" rel="stylesheet" />
    </head>
    <body ng-controller="ConsommationCtrl">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://vapez.fr">Vapez.FR</a>
          </div>

          <div class="collapse navbar-collapse" collapse="!isCollapsed" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="../coil/">Caculateur Micro-Coil</a></li>
                  <li class="active"><a href="#">Consommation E-Liquide </a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">                  
                  <li><a href="http://facebook.com/vapez">FaceBook</a></li>
                  <li><a href="http://plus.google.com/+VapezFr">Google+</a></li>
                  <li><a href="https://twitter.com/vapezfr">Twitter</a></li>
                  <li><a href="https://github.com/itechnology/vapez">GitHub</a></li>
              </ul>
          </div>
        </nav>        
                   
        <div class="container">       
            <br/>
            <div class="row">
                <div class="col-xs-12">



                    <label>
                        <span class="glyphicon glyphicon-question-sign"popover="Nombre de clops consommé actuellement" popover-placement="right" popover-trigger="mouseenter"></span>
                        Consommation Clopes/jour
                    </label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('cigarette', 'count', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.cigarette.count }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('cigarette', 'count' ,1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>
                        <span class="glyphicon glyphicon-question-sign"popover="Taux de nicotine par clop. Figure sur le paquet." popover-placement="right" popover-trigger="mouseenter"></span>
                        Taux Nicotine/clop
                    </label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('cigarette','nicotine', 0.05)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.cigarette.nicotine | number:2 }} mg</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('cigarette','nicotine', 0.05)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>
                        
            <br />

            <div class="row">
                <div class="col-md-12">
                    <strong>Nicotine (clops)</strong>
                    <table class="table table-bordered">
                        <tr>
                            <td>Totale/jour</td>
                            <td>{{ result.cigarette.nicotine | number:2 }} mg</td>
                        </tr>
                        <tr>
                            <td>Marge d'erreur</td>
                            <td>{{model.cigarette.assimilation}} %</td>
                        </tr>
                        <tr>
                            <td>Réel assimilé</td>
                            <td>{{ result.cigarette.assimilated | number:2 }} mg</td>
                        </tr>
                    </table>
                    
                    <strong>E-Liquide</strong>
                    <table class="table table-bordered">
                        <tr>
                            <td>Nicotine équivalente</td>
                            <td>{{ result.liquid.equivalent | number:2 }} mg</td>
                        </tr>
                        <tr>
                            <td>Taux d'assimilation</td>
                            <td>{{ model.liquid.assimilation }} %</td>
                        </tr>
                        <tr>
                            <td>Nicotine assimilé</td>
                            <td>{{ result.liquid.assimilated | number:2 }} mg</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <label>Nicotine E-Liquide</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('liquid', 'mg', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.liquid.mg | number:2 }} mg/ml</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('liquid', 'mg', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>
            
            <br />

            <div class="row">
                <div class="col-md-12">
                    <strong>E-Liquide à consommer</strong>
                    <table class="table table-bordered">
                        <tr>
                            <td>Par/jour</td>
                            <td>{{ result.liquid.consummation | number:2 }} ml</td>
                        </tr>
                        <tr>
                            <td>Par/semaine</td>
                            <td>{{ result.liquid.consummation * 7 | number:2 }} ml</td>
                        </tr>
                        <tr>
                            <td>Par/mois</td>
                            <td>{{ result.liquid.consummation * 30 | number:2 }} ml</td>
                        </tr>
                    </table>
                </div>
            </div>           
        </div>

        <!-- scripts -->
        <script src="../content/js/angular.min.js"></script>
        <script src="../content/js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
        <script src="content/js/app.js"></script>

        <!-- Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-15567888-9', 'vapez.fr');
            ga('send'  , 'pageview');
        </script>
    </body>
</html>