<!DOCTYPE html>
<html
    lang="fr"
    itemscope="itemscope"
    itemtype="http://schema.org/WebApplication"
    manifest="cache.manifest"
    ng-app="coil">
    <head>
        <meta charset="utf-8" />
        <!-- Page -->
        <title>Calculateur de Micro-Coil</title>
        <meta itemprop="keywords" name="keywords" content="vap, vape, vapez, e-cigarette, e-liquide, coil" />
        <meta itemprop="description" name="description" content="Calculateur pour bien réussir ses micro-coils" />

        <!-- Mobile 1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="cleartype" content="on" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-touch-fullscreen" content="yes" />

        <!-- Keep reference to Domain -->
        <link rel="canonical" href="http://vapez.fr/tools/coil/"/>

        <!-- Icon -->
        <link rel="apple-touch-icon" href="content/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="content/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="content/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="content/img/apple-touch-icon-152x152.png" />

        <!-- SNS -->
        <link rel="author" href="https://plus.google.com/+VapezFr"/>
        <link rel="publisher" href="https://plus.google.com/+VapezFr"/>

        <meta property="og:type" content="website" />
        <meta property="og:title" content="Vapez.FR, Calculateur de Micro-Coil" />
        <meta property="og:description" content="Calculateur pour bien réussir ses micro-coils" />
        <meta property="og:image" content="http://vapez.fr/tools/coil/content/img/apple-touch-icon-76x76.png" itemprop="image" />
        <meta property="og:url" content="http://vapez.fr/tools/coil/" />

        <meta property="og:site_name" content="Vapez.FR" />
        <meta property="og:locale" content="fr" />
        <meta property="fb:app_id" content="194169377448891" />
        <meta property="fb:admins" content="1215975394" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Vapez.FR, Calculateur de Micro-Coil" />
        <meta name="twitter:description" content="Calculateur pour bien réussir ses micro-coils" />
        <meta name="twitter:image" content="http://vapez.fr/tools/coil/content/img/apple-touch-icon-76x76.png" />
        <meta name="twitter:url" content="http://vapez.fr/tools/coil/" />

        <!-- Style -->
        <link href="../content/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="content/css/app.css" rel="stylesheet" />
    </head>
    <body ng-controller="CoilCtrl">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://vapez.fr" target="{{ target }}"><small>by Vapez.FR</small></a>
            </div>

            <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{ res.CalculatorTitle }}</a></li>
                    <li><a href="../consommation/">{{ res.ConsumptionTitle }}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-hide="iframe">
                    <li class="hidden-xs"><a href="#" ng-click="embed()"><i class="glyphicon glyphicon-share"></i> {{ res.EmbedLink }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ res.Social }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://facebook.com/vapez" target="blank">FaceBook</a></li>
                            <li><a href="https://plus.google.com/+VapezFr" target="blank">Google+</a></li>
                            <li><a href="https://twitter.com/vapezfr" target="blank">Twitter</a></li>
                            <li><a href="https://www.pinterest.com/vapezfr/?change_language=fr" target="blank">Pinterest</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-8">
                    <label>{{ res.WireType }}</label>
                    <select class="form-control" ng-change="changed()" ng-model="model.wire" ng-options="c.category for c in data"></select>
                </div>
                <div class="col-xs-4">
                    <label>&#8486 mm²/m</label>
                    <input class="form-control" ng-change="changed()" ng-model="model.wire.resistivity" type="number" step="0.01" />
                </div>
            </div>

            <div class="row" ng-show="model.wire.flat">
                <div class="col-xs-6">
                    <label>{{ res.WireHeight }} (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'height', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.height | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'height', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>{{ res.WireWidth }} (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'width', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.width | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'width', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="model.wire.flat">
                <div class="col-xs-12">
                    <label>{{ res.WireWidth }} (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'width', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.width | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'width', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>{{ res.CoilDiameter }} (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil','diameter', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.diameter | number:1 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil','diameter', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <!-- http://html5doctor.com/html5-forms-input-types/ -->
            <div class="row">
                <div class="col-xs-12">
                    <label>{{ res.CoilTurns }}</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'turns', 0.5)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.turns }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'turns', 0.5)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>{{ res.CoilFeet }} (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'stubs', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center"><small><em>2x</em></small> {{ model.coil.stubs }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'stubs', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="5%"><a href="content/img/safe-vape-chart.jpg" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                            <td width="55%">{{ res.Resistance }}</td>
                            <td ng-class="{'ohms': result.cssOhms}"><strong>{{ result.ohms | number:2 }} &#8486</strong></td>
                        </tr>
                        <tr><td><a href="#" ng-click="help()"><i class="glyphicon glyphicon-question-sign"></i></a></td>
                            <td><a href="#" ng-click="help()">{{ res.Coefficient }}</a></td>
                            <td ng-class="{'coeffG': result.cssCoeffG, 'coeffY': result.cssCoeffY, 'coeffR': result.cssCoeffR}">{{ result.coeff | number:2 }} W/mm²</td>
                        </tr>
                        <tr>
                            <td><a href="content/img/safe-vape-chart.jpg" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                            <td>{{ res.Power }}</td>
                            <td ng-class="{'watts': result.cssWatts}">{{ result.watts | number:2 }} W</td>
                        </tr>
                        <tr>
                            <td><a href="https://docs.google.com/spreadsheet/ccc?key=0As_VvItYH013dDhWYmFGS04tazhiUVlHSHdNeTlSNGc" target="_blank"><span class="glyphicon glyphicon-warning-sign"></span></a></td>
                            <td>{{ res.Amperes }}</td>
                            <td ng-class="{'amps': result.cssAmps}">{{ result.amps | number:2 }} A</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>{{ res.Voltage }}</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'volts', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.volts | number:2 }} V</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'volts', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label>{{ res.CoilCount }}</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'count', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.count }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil' ,'count', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
                <div class="col-xs-6" ng-hide="model.wire.flat">
                    <label>{{ res.WireCount }}</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'count', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.count }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'count', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td>{{ res.WireLength }}</td>
                            <td>{{ result.length | number:2 }} cm</td>
                        </tr>
                        <tr>
                            <td>{{ res.CoilWidth }}</td>
                            <td>{{ result.width | number:2 }} cm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- scripts -->
        <script src="../content/libs/jquery/jquery-1.11.3.min.js"></script>
        <script src="../content/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="../content/libs/angularjs/angular.min.js"></script>
        <script src="../content/libs/angularjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <script src="content/js/app.js"></script>

        <!-- Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-15567888-9', 'vapez.fr');
            ga('send'  , 'pageview');
        </script>
    </body>
</html>