<!DOCTYPE html>
<html ng-app="coil">
    <head>
        <meta charset="utf-8" />
        <title>Coil Calculator</title>

        <!-- WebApp -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-touch-fullscreen" content="yes" />

        <!-- Icon -->
        <link rel="apple-touch-icon" href="content/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="content/img/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="content/img/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="content/img/apple-touch-icon-152x152.png"/>

        <!-- Styles -->
        <link href="../../content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="content/css/app.css" rel="stylesheet" />
    </head>
    <body ng-controller="CoilCtrl">
		<h4 class="text-center">
			Coil Calculator
		</h4>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label>Type de fil résistif</label>
                    <select class="form-control" ng-change="changed()" ng-model="wire" ng-options="(c.category + ': ' + c.type) group by c.category for c in data"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>Diamètre interne du coil</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('diameter', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ diameter | number:1 }} mm</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('diameter', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <!-- http://html5doctor.com/html5-forms-input-types/ -->
            <div class="row">
                <div class="col-xs-12">
                    <label>Nombre de spires</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('spires', 0.5)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ spires }} tours</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('spires', 0.5)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>Longueur de chaque patte</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('feet', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ feet }} mm</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('feet', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="76%">Résistance</td>
                            <td><strong>{{ ohms | number:2 }} &#8486</strong></td>                   
                        </tr>
                        <tr>
                            <td>Longeur de fil</td>
                            <td>{{ length | number:2 }} cm</td>
               
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <label>Tension</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('volts', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ volts | number:2 }} V</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('volts', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>
            
            <br />

            <div class="row">
		        <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="76%">Puissance</td>
                            <td>{{ watts | number:2 }} W</td>
                        </tr>
                        <tr>
                            <td>Intensité</td>
                            <td ng-class="{'warning-amperes': warningAmperes}">{{ amperes | number:2 }} A</td>
                        </tr>
                    </table>
		        </div>
	        </div>
        </div>

        <!-- scripts -->
        <script src="../../content/js/angular.min.js"></script>
        <script src="content/js/app.js"></script>

        <!-- Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-15567888-9', 'vapez.fr');
          ga('send'  , 'pageview');
        </script>
    </body>
</html>