<!DOCTYPE html>
<html manifest="/cache.manifest" ng-app="coil">
    <head>
        <meta charset="utf-8" />
        <title>Calculateur de Micro-Coil</title>

        <!-- WebApp -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="apple-touch-fullscreen" content="yes" />

        <!-- Icon -->
        <link rel="apple-touch-icon" href="content/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="content/img/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="content/img/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="content/img/apple-touch-icon-152x152.png"/>

        <!-- Styles -->
        <link href="../../content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="content/css/app.css" rel="stylesheet" />
    </head>
    <body ng-controller="CoilCtrl">  
        <div class="container">                                
                <h4 style="text-align: center">Calculateur de Micro-Coil</h4>
            <div class="row">
                <div class="col-xs-8">
                    <label>Fil: Type</label>
                    <select class="form-control" ng-change="changed()" ng-model="model.wire" ng-options="c.category for c in data"></select>
                </div>
                <div class="col-xs-4">
                    <label>&#8486 mm²/m</label>
                    <input class="form-control" ng-change="changed()" ng-model="model.wire.resistivity" type="number" step="0.01" />
                </div>
            </div>

            <div class="row" ng-show="model.wire.flat">
                <div class="col-xs-6">
                    <label>Fil: Hauteur (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'height', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.height | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'height', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>Fil: Largeur (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'width', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.width | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'width', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="model.wire.flat">
                <div class="col-xs-12">
                    <label>Fil: Diamètre (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'width', 0.01)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.width | number:2 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'width', 0.01)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>Coil: Diamètre (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil','diameter', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.diameter | number:1 }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil','diameter', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <!-- http://html5doctor.com/html5-forms-input-types/ -->
            <div class="row">
                <div class="col-xs-12">
                    <label>Coil: Spires</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'turns', 0.5)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.turns }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'turns', 0.5)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>Coil: Pattes (mm)</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'stubs', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.stubs }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'stubs', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <label>Coil: Nombres</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'count', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.count }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil' ,'count', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
                <div class="col-xs-6" ng-hide="model.wire.flat">
                    <label>Fils: Nombres</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('wire', 'count', 1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.wire.count }}</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('wire', 'count', 1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="67%">Résistance</td>
                            <td ng-class="{'ohms': result.cssOhms}"><strong>{{ result.ohms | number:2 }} &#8486</strong></td>
                        </tr>
                        <tr>
                            <td>Coeff. de Chauffe</td>
                            <td ng-class="{'coeffG': result.cssCoeffG, 'coeffY': result.cssCoeffY}">{{ result.coeff | number:2 }} W/mm²</td>
                        </tr>
                        <tr>
                            <td>Largeur d'une Coil</td>
                            <td>{{ result.width | number:2 }} cm</td>
                        </tr>
                        <tr>
                            <td>Longeur d'un Fil</td>
                            <td>{{ result.length | number:2 }} cm</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label>Tension</label>
                    <div class="input-group">
                        <span type="button" class="btn btn-default btn-lg input-group-addon" ng-click="down('coil', 'volts', 0.1)"><span class="glyphicon glyphicon-minus"></span></span>
                        <span class="form-control center">{{ model.coil.volts | number:2 }} V</span>
                        <span type="button" class="btn btn-default btn-lg input-group-addon"  ng-click="up('coil', 'volts', 0.1)"><span class="glyphicon glyphicon-plus"></span></span>
                    </div>
                </div>
            </div>

            <br />
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td width="5%"><a href="https://docs.google.com/spreadsheet/ccc?key=0As_VvItYH013dDhWYmFGS04tazhiUVlHSHdNeTlSNGc" target="_blank"><span class="glyphicon glyphicon-warning-sign"></span></a></td>
                            <td width="62%">Intensité</td>
                            <td ng-class="{'amps': result.cssAmps}">{{ result.amps | number:2 }} A</td>
                        </tr>                        
                        <tr>
                            <td width="5%"><a href="http://fr.wikipedia.org/wiki/Watt" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                            <td>Puissance</td>
                            <td ng-class="{'watts': result.cssWatts}">{{ result.watts | number:2 }} W</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12" style="text-align: right">
                    <a href="https://github.com/itechnology/vapez" target="_blank">GitHub</a>
                </div>                 
            </div>       
        </div>       
        
        <!-- scripts -->
        <script src="../../content/js/angular.min.js"></script>
        <script src="content/js/app.js"></script>

        <!-- Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-15567888-9', 'vapez.fr');
          ga('send'  , 'pageview');
        </script>
    </body>
</html>