.container {
    max-width: 480px;
    border: 1px solid #C9C8C8;
    box-shadow: 2px 2px 5px #D6D2D2;
}
.center {
    text-align: center;
}
.amps, .ohms, .watts, .coeffY {
    background-color: #ffe5bb;
    font-weight: bold;
}
.coeffG {
    background-color: #bbffc8;
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
